.cardCompetences {
    width: 90%;
    max-width: 350px;
    height: 400px;
    margin: 50px auto;

}





.ant-card-body {
    position: relative;
    bottom: 20px;
    line-height: 25px;
}

.logo {
    width: 100px;
    height: 100px;
}


@media (max-width:768px) {
    .cardCompetences {

        display: flex;
        flex-direction: column;


    }
}