.cardCompetences {
    width: 90%;
    max-width: 350px;
    height: 400px;
    margin: 50px auto;

}


.logo {
    width: 100px;
    height: 100px;
}


@media (max-width:768px) {
    .cardCompetences {

        display: flex;
        flex-direction: column;


    }
}